<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estwGeneratorStyle.css') }}">
    <script src="../static/js/d3.v7.min.js"></script>
</head>

<body>
    <h1 class="mb-4">Zusammenstellung der Baugruppenfunktionsbelegung</h1>
    <div class="btn-group btn-group-sm" role="group" style="gap: 0px; position: absolute; top: 10px; right: 20px;">
        <input type="checkbox" class="btn-check toggle-labels-btn" id="toggle-point-labels" autocomplete="off">
        <label class="btn btn-outline-dark" for="toggle-point-labels">W</label>

        <input type="checkbox" class="btn-check toggle-labels-btn" id="toggle-signal-labels" autocomplete="off">
        <label class="btn btn-outline-dark" for="toggle-signal-labels">S</label>

        <input type="checkbox" class="btn-check toggle-labels-btn" id="toggle-edge-labels" autocomplete="off">
        <label class="btn btn-outline-dark" for="toggle-edge-labels">G</label>

        <input type="checkbox" class="btn-check toggle-labels-btn" id="toggle-track-colors" autocomplete="off">
        <label class="btn btn-outline-dark" for="toggle-track-colors">T</label>
    </div>
    <div id="graph-container" class="border rounded" data-project="{{ report.project.project_name }}" style="height: 500px;">
        <svg width="100%" height="100%"></svg>
    </div>
</body>
